body {
  display: flex;
  justify-content: center;
}

.done {
  text-decoration: line-through;
  color: rgb(71, 0, 0);
  opacity: 0.6;
}

span {
  font-size: 20px;
}

h1 {
  position: absolute;
  color: rgb(23, 23, 255);
}

button {
  color: #ddd;
  background-color: blue;
  border-radius: 20px;
}

button:hover {
  transform: scaleX(1.1)
}

.todo {
  display: inline-block;
  padding-top: 50px;
}